.container {
  text-align: center;
  list-style: none;
  line-height: 1.5;
  padding: 40px;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  opacity: 0.6;
  color: black;
  max-width: 400px;
}

h1 {
  color: black;
  opacity: 1;
  padding: 40px 40px;
  text-align: center;
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.container-2 p {
  font-size: 28px;
  color: black;
  font-weight: 600;
  text-align: left;
  padding: 70px;
  padding-bottom: 100px;
}

.top p {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border-right: 2px solid #ececec;
  height: 90px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.crypto-list-item {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  height: 580px;

  padding: 35px 0;
  margin: 0 20px 40px;
  background: #ffffff;
  box-shadow: 0 0 15px 3px rgba(30, 10, 92, 0.08);
  list-style: none;
}

.crypto-list-img {
  height: 80px;
  width: auto;
  max-width: 80%;
  margin-bottom: 11px;
}

.crypto-list-item p {
  font-size: 16px;
  line-height: 1.8;
  font-family: sans-serif;
  padding: 30px;
}

.crypto-list-symbol {
  font-size: 18px;
  font-weight: 500;
  padding: 40px;
}
